*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}
header{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
.img{
    width: 80px;
}
.back{
    background-color: #F4F4F5;
    padding: 50px 0px;
    margin-top: 50px;
    height: 605px;
}
.section1{
    max-width: 1200px;
    margin: auto;
    display: flex;
}
.txt{
    font-size: 60px;
    width: 700px;
}
.but{
    background-color: #D7B18D;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 15px;
}
.flex{
    display: flex;
    gap: 10px;
}
.aside1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.img2{
    width: 500px;
    position: relative;
    top: -100px;
}
.img3{
    width: 600px;
}
.txt2{
    display: none;
}
.section2{
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}
.img5{
    width: 100%;
}
.section3{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0px;

}
.column2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 5px;
}
.gray{
    color:#848C9A;
    font-size: 16px;
}
.bold{
    font-size: 24px;
}
.font{
    font-size: 16px;
    font-weight: 500px;
}
.but2{
    background-color: #D7B18D;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}
.but3{
    background-color: white;
    border:1px solid #D7B18D;
}
.flex3{
    display: flex;
    gap: 10px;
}
.flex4{
    display: flex;
    gap: 30px;
    align-items: center;
}
.green{
    font-size: 14px;
    color: #08A652;
}
.flex5{
    display: flex;
    align-items: center;
    gap: 130px;
}
.column3{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 5px;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.flex2{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.section4{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
    padding: 100px 0;
    justify-content: space-between;
}
.section4 aside{
    display: flex;
    gap: 25px;
}
.divcha{
    display: flex;
    align-items: center;
    gap: 5px;
}
.section4 .vak{
    padding: 25px;
}
.section4 .grey{
    font-size: 10px;
}
.section4 .vak nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.section4 button{
    padding: 10px;
    background-color: white;
    border: 2px solid #D7B18D;
    border-radius: 5px;
}
.vak{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid #00000014;
    border-radius: 10px;
    padding: 20px;
}
.section5{
    display: flex;
    gap: 50px;
    flex-direction: column;
}
.section5 .first{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1400px;
    margin: auto;
    background-color: #F4F4F5;
    gap: 100px;
    padding: 20px;
    align-items: center;
}
.section5 .first nav{
    display: flex;
    align-items: center;
    gap: 10px;
}
.section5 .first nav h1{
    display: flex;
    background-color: #28303D;
    color: white;
    padding: 5px;
    align-items: center;
    border-radius: 5px;
}
.section5 input{
    padding: 10px 30px 10px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.section5 .second{
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    gap: 5px;
    padding: 50px 0;
}
.radius{
    border: 1px solid black;
    border-radius: 50%;
    padding:4px 10px;
}
.second nav{
    display: flex;
    gap: 10px;
    align-items: center;
}
.third{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 0 50px;
    max-width: 1400px;
    margin: auto;
}
.display{
    display: none;
}
.gray2{
    font-size: 16px;
    display: none;
}
























@media(max-width:500px){
    .section1{
        flex-direction: column-reverse;
    }
    .img3{
        width: 100%;
        position: absolute;
        top: 560px;
        z-index: 1;
    }
    .img2{
        width: 100%;
    }
    .txt2{
        display: block !important;
        position: relative;
        top: -90px;
        width: 100%;
        font-size: 50px;
        text-align: center;
    }
    .txt{
        display: none;
    }
    .but{
        position: absolute;
        top: 700px;
        z-index: 1;
        font-size: 20px;
    }
    .img4{
        position:absolute;
        top: 700px;
        left: 200px;
        z-index: 1;
        width: 40px;
    }
.img5{
    margin-top: 50px;   
}
.section3{
    padding: 0px 20px;
}
.flex2{
    flex-direction: column;
}
.section4 aside{
        flex-direction: column;
    }
    .vak{
        position: relative;
    }
    .section4 .vak .grey {
        padding-bottom: 30px;
    }
    .divcha{
        position: absolute;
        top: 45px;
    }
    .section4 aside{
        flex-direction: column;
        /* margin-top:-100px; */
    }
    .section4{
        padding:20px;
    }
    /* .position{
        position: absolute;
    } */
     .first , .second{
        flex-direction: column;
    }
    .section5 img{
        display: none;
    }
    .second{
        padding: 25px !important;
        align-items: start !important;
    }
    .display{
        display: inline !important;    
        padding-left: 15px;
    }
    footer{
        color: #A4AAB6;
        padding: 20px;
    }
    footer a{
        color: black;
    }
    .gray2{
        display: block;
    }
}